{% extends "layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block content %}
    <h1>Авторизация</h1>

    <hr>

    <div class="col-md-offset-2">
        {% if error %}
            <div class="row">
                <div class="alert alert-danger col-md-offset-2 col-md-5">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            </div>
        {% endif %}

        <form class="form-horizontal" action="{{ path("fos_user_security_check") }}" method="post">
            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>

            <div class="form-group">
                <label class="col-md-3 control-label required" for="username">Email</label>
                <div class="col-md-4">
                    <input type="text" class="form-control" name="_username" value="{{ last_username }}"
                           required="required"/>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-3 control-label required" for="password">Пароль</label>
                <div class="col-md-4">
                    <input type="password" class="form-control" name="_password" required="required"/>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-3 control-label required" for="_remember_me">Запомнить меня?</label>
                <div class="col-md-4">
                    <input type="checkbox" name="_remember_me" value="on"/>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-4 col-md-offset-3">
                    <button class="btn btn-success" type="submit" name="_submit">Войти</button>

                    <div class="pull-right">
                        {% include 'blocks/social_auth.html.twig' %}
                    </div>
                </div>
            </div>
        </form>
    </div>

    <hr>

    <div class="text-center">
        <a class="btn btn-default" href="{{ path('fos_user_registration_register') }}">Регистрация</a>
    </div>
{% endblock content %}
