{% extends '::base.html.twig' %}

{% block body %}
    <div class="container">

        <div class="row">
            <div class="col-md-12" style="display: table;">
                    <div class="pull-left">
                        <a href="{{ path('homepage') }}">
                            <img src="{{ asset('assets/img/astra_logo.png') }}" height="80" alt="СНТ Астра">
                        </a>

                        Подольский район, Московская область
                    </div>

                    <div class="pull-right" style="min-height: 80px;padding-top: 30px">
                        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                            {{ app.user.realname }} | <a href="{{ path('fos_user_security_logout') }}">Выход</a>
                        {% else %}
                            <a href="{{ path('fos_user_security_login') }}">Вход</a>
                        {% endif %}
                    </div>
            </div>
        </div>

        <nav>
            {{ knp_menu_render('main') }}
        </nav>

        {% if app.request.hasPreviousSession %}
            {% set messages = app.session.flashbag.all() %}

            {% if messages is not empty %}
                <div class="row" style="margin-top: 30px">
                    <div class="col-md-8 col-md-offset-2">
                        {% for type, messages in messages %}
                            {% for message in messages %}
                                {% set types = {success: 'success', error: 'danger', info: 'info', warning: 'warning'} %}
                                {% set prefix = {success: 'Успешно', error: 'Ошибка', info: 'Информация', warning: 'Внимание'} %}

                                <div class="alert alert-{{ attribute(types, type) }}" role="alert">
                                    <strong>{{ attribute(prefix, type) }}!</strong> {{ message }}
                                </div>
                            {% endfor %}
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
        {% endif %}

        {% block content %}{% endblock %}

        <footer class="footer">
            <p>&copy; 2016 СНТ Астра</p>
        </footer>
    </div>
{% endblock %}
