{% extends "::layout.html.twig" %}

{% block content %}
    <h1>Регистрация</h1>

    <hr>

    <div class="col-sm-offset-2">
        {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register')}) }}

        <div class="form-group">
            <label class="col-sm-3 control-label required" for="username">ФИО</label>
            <div class="col-sm-4">
                {{ form_widget(form.realname) }}
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label required" for="email">Email</label>
            <div class="col-sm-4">
                {{ form_widget(form.email) }}
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label required" for="email">Телефон</label>
            <div class="col-sm-4">
                {{ form_widget(form.phone) }}
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label required" for="username">Пароль</label>
            <div class="col-sm-4">
                {{ form_widget(form.plainPassword) }}
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-4 col-sm-offset-3">
                <button class="btn btn-success" name="submit" type="submit">Зарегистрироваться</button>

                <div class="pull-right">
                    {% include ':blocks:social_auth.html.twig' %}
                </div>
            </div>
        </div>

        {{ form_end(form) }}
    </div>

    <hr>

    <div class="text-center">
        <a class="btn btn-default" href="{{ path('fos_user_security_login') }}">Авторизация</a>
    </div>
{% endblock content %}
