{% extends '::layout.html.twig' %}

{% block content %}
    <h1>Участки</h1>

    <hr>

    {% if areas is not empty %}
        <table class="table table-hover">
            <thead>
            <tr>
                <th>№</th>
                <th>Соток</th>
                <th>Владельцы</th>
                <th>Улица</th>
                <th>Действия</th>
            </tr>
            </thead>
            <tbody>
            {% for area in areas %}
                <tr>
                    <td>{{ area.number }}</td>
                    <td>{{ area.size / 100 }}</td>
                    <td>
                        {% if area.users is not empty %}
                            <ul>
                                {% for user in area.users %}
                                    <li>{{ user.realname }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </td>
                    <td>
                        {% if area.street %}
                            {{ area.street.name }}
                        {% endif %}
                    </td>
                    <td>
                        <a class="btn btn-default" href="{{ path('area_show', {'number': area.number}) }}">
                            <i class="fa fa-eye" aria-hidden="true" title="Просмотр"></i>
                        </a>
                        <a class="btn btn-default" href="{{ path('area_edit', {'number': area.number}) }}">
                            <i class="fa fa-pencil" aria-hidden="true" title="Редактировать"></i>
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <div class="jumbotron">
            <h2>Записей нет</h2>
        </div>
    {% endif %}
{% endblock %}
