{% extends 'layout.html.twig' %}

{% set title = 'Галлерея' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/css/blueimp-gallery.min.css') }}">
{% endblock %}

{% block content %}
    <hr>

    <div id="blueimp-gallery" class="blueimp-gallery">
        <div class="slides"></div>
        <h3 class="title"></h3>
        <a class="prev">‹</a>
        <a class="next">›</a>
        <a class="close">×</a>
        <a class="play-pause"></a>
        <ol class="indicator"></ol>
    </div>

    <div id="links">
        {% for photo in photos %}
            <a href="{{ photo.src_xxbig }}" title="{{ photo.text }}">
                <img src="{{ photo.src }}" alt="{{ photo.text }}">
            </a>
        {% endfor %}
    </div>

    <script>
        document.getElementById('links').onclick = function (event) {
            event = event || window.event;
            var target = event.target || event.srcElement,
                link = target.src ? target.parentNode : target,
                options = {index: link, event: event},
                links = this.getElementsByTagName('a');
            blueimp.Gallery(links, options);
        };
    </script>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('assets/js/blueimp-gallery.min.js') }}"></script>
{% endblock %}
