{% extends 'layout.html.twig' %}

{% set title = 'Новости' %}

{% block content %}
    {% if is_granted('ROLE_NEWS_WRITER') %}
        <a class="btn btn-primary" href="{{ path('news_new') }}">Добавить новость</a>
        <hr>
    {% endif %}

    {% for item in news %}
        <h2>
            <a href="{{ path('news_show', {'slug': item.slug}) }}">{{ item.title }}</a>
        </h2>

        <p class="lead">
            автор {{ item.author.realname }}
        </p>

        {% if item.published %}
            <p>
                <span class="glyphicon glyphicon-time"></span>
                Опубликовано: {{ item.createdAt|localizeddate }}
            </p>
        {% else %}
            <h3>
                <span class="label label-default">Не опубликовано</span>
            </h3>
        {% endif %}

        <hr>

        {% set content = item.shortContent ?? item.mainContent %}
        <p>{{ content|nl2br|raw }}</p>

        <hr>
    {% else %}
        <div class="jumbotron">
            <h1>Новостей пока нет</h1>
        </div>
    {% endfor %}

    {% if news.haveToPaginate %}
        <div class="text-center">
            {{ pagerfanta(news, 'twitter_bootstrap3_translated', { routeName: 'news_index_paginated' }) }}
        </div>
    {% endif %}

{% endblock %}
