{% extends 'layout.html.twig' %}

{% set title = 'Новости' %}

{# @var news \App\Entity\News[] #}

{% block content %}
    {% if is_granted('ROLE_NEWS_WRITER') %}
        <a class="btn btn-primary" href="{{ path('news_new') }}">Добавить новость</a>
        <hr>
    {% endif %}

    {% for item in news %}
        <h2>
            <a href="{{ path('news_show', {'slug': item.slug}) }}">{{ item.title }}</a>
        </h2>

        <p class="help-block small">
            автор {{ item.author.realname }}

            {% if item.published %}
                <span class="glyphicon glyphicon-time"></span>
                Опубликовано: {{ item.publishedAt|localizeddate }}
            {% else %}
                <span class="label label-default">Не опубликовано</span>
            {% endif %}
        </p>

        {% set content = item.shortContent ?? item.mainContent %}
        {{ content|markdown|raw }}

        <hr>
    {% else %}
        <div class="jumbotron">
            <h1>Новостей пока нет</h1>
        </div>
    {% endfor %}

    {% if news.haveToPaginate %}
        <div class="text-center">
            {{ pagerfanta(news, 'twitter_bootstrap3_translated', { routeName: 'news_index_paginated' }) }}
        </div>
    {% endif %}

{% endblock %}
