{% extends 'layout.html.twig' %}

{% block content %}
    {% if is_granted(constant('App\\Roles::CHAIRMAN')) %}
        <a href="{{ path('purpose_new') }}" class="btn btn-success">
            <i class="fa fa-plus"></i> Создать цель
        </a>

        <hr>
    {% endif %}

    {% if 0 < purposes.count %}
        <div class="table-responsive">
            <table class="table">
                <thead>
                <tr>
                    <th>Наименование</th>
                    <th>Сумма (руб.)</th>
                    <th>Расписание</th>
                    <th>Начисление</th>
                    <th>Дата создания</th>
                    <th>Дата архивации</th>
                    <th>Действия</th>
                </tr>
                </thead>
                <tbody>
                {% for purpose in purposes %}
                    {# @var purpose \App\Entity\Purpose #}
                    <tr>
                        <td>{{ purpose.name }}</td>
                        <td>{{ (purpose.amount / 100)|number_format }}</td>
                        <td>{{ purpose.schedule.getColumnName() }}</td>
                        <td>{{ purpose.calculation.getColumnName() }}</td>
                        <td>{{ purpose.createdAt|localizeddate }}</td>
                        <td>{{ purpose.archivedAt ? purpose.archivedAt|localizeddate : '-' }}</td>
                        <td>
                            <div class="col-xs-2">
                                {% if purpose.payable %}
                                    <a href="{{ path('purpose_payment', {'id': purpose.id}) }}">
                                        <i class="fa fa-dollar"></i>
                                    </a>
                                {% endif %}
                            </div>

                            <div class="col-xs-2">
                                {% if purpose.editable %}
                                    <a href="{{ path('purpose_edit', {'id': purpose.id}) }}">
                                        <i class="fa fa-pencil"></i>
                                    </a>
                                {% endif %}
                            </div>

                            <div class="col-xs-2">
                                {% if purpose.archivedAt is empty %}
                                    <a href="{{ path('purpose_archive', {'id': purpose.id}) }}">
                                        <i class="fa fa-archive"></i>
                                    </a>
                                {% endif %}
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        {% if purposes.haveToPaginate %}
            <div class="text-center">
                {{ pagerfanta(purposes, 'twitter_bootstrap3_translated', { routeName: 'purposes_index_paginated' }) }}
            </div>
        {% endif %}
    {% else %}
        <div class="jumbotron">
            <h2>Записей нет</h2>
        </div>
    {% endif %}
{% endblock %}
