{% extends 'layout.html.twig' %}

{% block content %}
    <h3>Создать платежи по цели <strong>{{ purpose.name }}</strong></h3>

    <hr>
    {{ form_start(form) }}

    {{ form_row(form.comment) }}

    <hr>

    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
            <tr>
                <th>Участок</th>
                <th>Сумма</th>
                <th>Комментарий</th>
            </tr>
            </thead>
            <tbody>
            {% for payment in payments %}
            {# @var payment \App\Entity\Payment #}
            <tr>
                <td>{{ payment.area.number }}</td>
                <td>{{ payment.amount / 100 }}</td>
                <td class="comment-js">{{ payment.comment }}</td>
            </tr>
            </tbody>
            {% endfor %}
        </table>
    </div>

    <hr>

    <button type="submit" class="btn btn-primary">Создать платежи</button>
    {{ form_end(form) }}
{% endblock %}

{% block javascripts %}
    <script>
      $('#{{ form.comment.vars.id }}').on('keyup', function() {
        const comment = $(this).val();

        $('.comment-js').each(function() {
          $(this).html(comment);
        });
      });
    </script>
{% endblock %}
