{% extends 'base.html.twig' %}

{% block stylesheets %}
    <style>
        body {
            font-size: 16px;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="container col-md-12">
                <div class="pull-left">
                    <div style="display: flex; align-items: center;">
                        <a class="mr-3" href="{{ path('homepage') }}">
                            <img src="{{ asset('assets/img/astra_logo.jpg') }}"
                                 height="80" alt="СНТ Астра">
                        </a>
                        <span class="d-none d-md-block">Подольский район, Московская область</span>
                    </div>
                </div>

                <div class="pull-right" style="min-height: 80px;padding-top: 28px">
                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                        <div style="display: flex; align-items: center;">
                             <span class="d-none d-sm-block">
                                <a href="{{ path('account') }}">{{ app.user.realname }}</a>
                            |
                            </span>

                            {% if is_granted('ROLE_PREVIOUS_ADMIN') %}
                                <a class="ml-1" href="{{ path('homepage', {'_switch_user': '_exit'}) }}"> Выход</a>
                            {% else %}
                                <a class="ml-1" href="{{ path('logout') }}">Выход</a>
                            {% endif %}
                        </div>
                    {% else %}
                        <a href="{{ path('login') }}">Вход</a>
                    {% endif %}
                </div>
            </div>
        </div>

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            {% if is_granted('ROLE_ADMIN') %}
                {% set brand = 'Адинистратор' %}
            {% elseif is_granted(constant('App\\Roles::CASHIER')) %}
                {% set brand = 'Кассир' %}
            {% elseif is_granted(constant('App\\Roles::CHAIRMAN')) %}
                {% set brand = 'Председатель' %}
            {% else %}
                {% set brand = 'Менеджер' %}
            {% endif %}
            {#<a class="navbar-brand" href="#">{{ brand }}</a>#}
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                {{ knp_menu_render('main') }}

                {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                    <ul class="navbar-nav">
                        {% include 'blocks/my_area.html.twig' with {} only %}

                        {% if is_granted(constant('App\\Roles::EMPLOYEE')) %}
                            <li class="nav-item dropdown">
                                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button"
                                   aria-haspopup="true" aria-expanded="false">
                                    Управление <span class="caret"></span>
                                </a>
                                {{ knp_menu_render('manager', {'attr': {'class': 'dropdown-menu'}}) }}
                            </li>
                        {% endif %}
                    </ul>
                {% endif %}
            </div>
        </nav>

        {% if app.request.hasPreviousSession %}
            {% set messages = app.session.flashbag.all() %}

            {% if messages is not empty %}
                <div class="row" style="margin-top: 30px">
                    <div class="col-md-8 col-md-offset-2">
                        {% for type, messages in messages %}
                            {% for message in messages %}
                                {% set types = {success: 'success', error: 'danger', info: 'info', warning: 'warning'} %}
                                {% set prefix = {success: 'Успешно', error: 'Ошибка', info: 'Информация', warning: 'Внимание'} %}

                                <div class="alert alert-{{ attribute(types, type) }}" role="alert">
                                    <strong>{{ attribute(prefix, type) }}!</strong> {{ message }}
                                </div>
                            {% endfor %}
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
        {% endif %}

        <hr>

        {% block content %}{% endblock %}

        <footer class="footer">
            <div class="pull-right d-none d-sm-block">
                Сборка <b>{{ build() }}</b> от {{ build_time()|localizeddate('medium', 'short', null, 'GMT+3') }}
            </div>
            © СНТ Астра
        </footer>
    </div>
{% endblock %}
