{% extends 'base.html.twig' %}

{% block stylesheets %}
    <style>
        body {
            font-size: 16px;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="pull-left">
                    <div class="row">
                        <a href="{{ path('homepage') }}">
                            <img src="{{ asset('assets/img/astra_logo.jpg') }}"
                                 height="80" alt="СНТ Астра">
                        </a>
                        <span class="hidden-xs">Подольский район, Московская область</span>
                    </div>
                </div>

                <div class="pull-right" style="min-height: 80px;padding-top: 30px">
                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                        <span class="hidden-xs">
                            <a href="{{ path('account') }}">{{ app.user.realname }}</a>
                        |
                        </span>
                        <a href="{{ path('fos_user_security_logout') }}">Выход</a>
                    {% else %}
                        <a href="{{ path('fos_user_security_login') }}">Вход</a>
                    {% endif %}
                </div>
            </div>
        </div>

        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                            aria-expanded="false"
                            aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    {% if is_granted('ROLE_ADMIN') %}
                        {% set brand = 'Адинистратор' %}
                    {% elseif is_granted(constant('App\\Roles::CASHIER')) %}
                        {% set brand = 'Кассир' %}
                    {% elseif is_granted(constant('App\\Roles::CHAIRMAN')) %}
                        {% set brand = 'Председатель' %}
                    {% else %}
                        {% set brand = 'Менеджер' %}
                    {% endif %}
                    {#<a class="navbar-brand">{{ brand }}</a>#}
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    {{ knp_menu_render('main') }}

                    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                        <ul class="nav navbar-nav navbar-right">
                            {% include 'blocks/my_area.html.twig' with {} only %}

                            {% if is_granted(constant('App\\Roles::EMPLOYEE')) %}

                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                                       aria-haspopup="true" aria-expanded="false">
                                        Управление <span class="caret"></span>
                                    </a>
                                    {{ knp_menu_render('manager', {'attr': {'class': 'dropdown-menu'}}) }}
                                </li>
                            {% endif %}
                        </ul>
                    {% endif %}
                </div>
            </div>
        </nav>

        {% if app.request.hasPreviousSession %}
            {% set messages = app.session.flashbag.all() %}

            {% if messages is not empty %}
                <div class="row" style="margin-top: 30px">
                    <div class="col-md-8 col-md-offset-2">
                        {% for type, messages in messages %}
                            {% for message in messages %}
                                {% set types = {success: 'success', error: 'danger', info: 'info', warning: 'warning'} %}
                                {% set prefix = {success: 'Успешно', error: 'Ошибка', info: 'Информация', warning: 'Внимание'} %}

                                <div class="alert alert-{{ attribute(types, type) }}" role="alert">
                                    <strong>{{ attribute(prefix, type) }}!</strong> {{ message }}
                                </div>
                            {% endfor %}
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
        {% endif %}

        <hr>

        {% block content %}{% endblock %}

        <footer class="footer">
            <div class="pull-right hidden-xs">
                Сборка <b>{{ build() }}</b> от {{ build_time()|localizeddate('medium', 'short', null, 'GMT+3') }}
            </div>
            © СНТ Астра
        </footer>
    </div>
{% endblock %}
