{% extends 'layout.html.twig' %}

{% block content %}
    <h1>Промежуточные и итоговые отчеты правления СНТ "АСТРА"</h1>
    <h4>Все вопросы связанные с отчетностью просьба формулировать через форму <a href="{{ path('suggestions_new') }}">обратной связи</a> на сайте.</h4>
    <hr>

    <h3>Сводная отчетность</h3>
    <ul>
        <li>
            <a href="{{ asset('report/09.2017.xlsx') }}">09.2017</a>
        </li>
        <li>
            <a href="{{ asset('report/10.2017.xlsx') }}">10.2017</a>
        </li>
    </ul>


    <h3>Проекты правления и жителей СНТ</h3>

    <ul>
        <li>
            <a href="{{ asset('report/2017-cctv.xlsx') }}">Видеонаблюдение 2017</a>
        </li>
        <li>
            <a href="{{ asset('report/2017-svet-berezovaya.xlsx') }}">Освещение ул Березовая 2017</a>
        </li>
        <li>
            <a href="{{ asset('report/2017-doroga-lesnaya.xlsx') }}">Ремонт дороги ул Лесная 2017</a>
        </li>
        <li>
            <a href="{{ asset('report/2017-ukazateli-ulic.xlsx') }}">Указатели улиц 2017</a>
        </li>
        <li>
            <a href="{{ asset('report/2017-viveska-astra.xlsx') }}">Вывеска Астра 2017</a>
        </li>
    </ul>
{% endblock %}
