{%- block choice_widget_expanded -%}
    <div {{ block('widget_container_attributes') }}>
        <div class="row">
            {% for name, choices in form.vars.choices %}
                {% if 0 == loop.index % 6 %}
                    {{ '</div><div class="row">' }}
                {% endif %}
                <div class="col-md-2">
                    {% if choices is iterable %}

                        <label class="choice_category">
                            <strong>
                                {{ choice_translation_domain is same as(false) ? name : name|trans({}, choice_translation_domain) }}
                            </strong>
                        </label>

                        {#<div>#}
                        {% for key,choice in choices %}
                            {{ form_widget(form[key]) }}
                            {{ form_label(form[key]) }}
                        {% endfor %}
                        {#</div>#}

                    {% else %}

                        {{- form_widget(form[name]) -}}
                        {{- form_label(form[name], null, {translation_domain: choice_translation_domain}) -}}

                    {% endif %}
                </div>
            {% endfor %}
        </div>
    </div>
{%- endblock choice_widget_expanded -%}
