{% extends 'layout.html.twig' %}

{% set hasDebt = 0 > balance %}

{% block content %}
    <h1>Участок №{{ area.number }}</h1>

    <dl class="dl-horizontal">
        <dt>Количество соток</dt>
        <dd>{{ area.size / 100 }}</dd>
        {% if is_granted(constant('App\\Roles::COMMUNITY')) %}
            <dt>Владельцы</dt>
            <dd>
                <ul>
                    {% for user in area.users %}
                        <li>{{ user.realname }}</li>
                    {% endfor %}
                </ul>
            </dd>
        {% endif %}
        <dt>Улица</dt>
        <dd>
            {% if area.street %}
                {{ area.street.name }}
            {% endif %}
        </dd>
    </dl>

    <h2>Платежи</h2>

    {% if 0 < items|length %}
        <table class="table">
            <thead>
            <tr>
                <th>Наименование</th>
                <th>К оплате</th>
                <th>Оплачено</th>
                <th>Недоплата / Переплата</th>
                <th>Дата создания</th>
                {% if hasDebt %}
                    <th>Оплата</th>
                {% endif %}
            </tr>
            </thead>
            <tbody>
            {% for item in items %}
                {# @var purpose \App\Entity\Purpose #}
                {% set purpose = item|first %}
                {% set sum = item.bill + item.paid %}
                {% set paid = sum >= 0 %}
                {% set pay = ((item.bill + item.paid) / 100) %}

                <tr>
                    <td>
                        <a href="#" data-purpose-id="{{ purpose.id }}" class="purpose-button-js">
                            {{ purpose.name }}
                        </a>
                    </td>
                    <td>{{ (item.bill|abs / 100) }}</td>
                    <td>{{ (item.paid / 100) }}</td>
                    <td><strong>{{ pay }}</strong></td>
                    <td>{{ purpose.createdAt|localizeddate }}</td>
                    {% if not paid %}
                        <td>
                            <form method="post" action="https://www.payanyway.ru/assistant.htm">
                                <input type="hidden" name="MNT_ID" value="87482468">
                                <input type="hidden" name="MNT_TEST_MODE" value="0">

                                <input type="hidden" name="MNT_CURRENCY_CODE" value="RUB">
                                <input type="hidden" name="MNT_AMOUNT" value="{{ pay|abs }}">

                                <input type="hidden" name="MNT_SUCCESS_URL" value="{{ url('area_show_payment_return', {
                                    'status': constant('App\\Controller\\AreaController::PAYMENT_STATUS_SUCCESS'),
                                    'number': area.number
                                }) }}">
                                <input type="hidden" name="MNT_FAIL_URL" value="{{ url('area_show_payment_return', {
                                    'status': constant('App\\Controller\\AreaController::PAYMENT_STATUS_FAILURE'),
                                    'number': area.number
                                }) }}">

                                <input type="hidden" name="MNT_RETURN_URL" value="{{ app.request.uri }}">
                                <input type="hidden" name="MNT_AREA" value="{{ area.id }}">
                                <input type="hidden" name="MNT_PURPOSE" value="{{ purpose.id }}">
                                <input type="hidden" name="MNT_USER" value="{{ app.user.id }}">

                                <button class="btn btn-success" type="submit">Оплатить</button>
                            </form>
                        </td>
                    {% endif %}
                </tr>

                {% set purposePayments = payments[purpose.id] %}

                {% if 0 < purposePayments|length %}
                    <tr data-purpose-id="{{ purpose.id }}" style="display: none" class="purpose-payments-js">
                        <td colspan="5">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>Сумма</th>
                                    <th>Дата</th>
                                    <th>Комментарий</th>
                                </tr>
                                </thead>
                                <tbody>

                                {% for payment in purposePayments %}
                                {# @var payment \App\Entity\Payment #}
                                <tr>
                                    <td>{{ payment.amount / 100 }}</td>
                                    <td>{{ payment.createdAt|localizeddate }}</td>
                                    <td>{{ payment.comment }}</td>
                                </tr>
                                </tbody>
                                {% endfor %}
                            </table>
                        </td>
                    </tr>
                {% endif %}
            {% endfor %}

            <tr class="{{ hasDebt ? 'danger' }}">
                <td colspan="3">Баланс</td>
                <td colspan="2">{{ (balance / 100) }}</td>
            </tr>
            </tbody>
        </table>
    {% else %}
        <div class="jumbotron">
            <h2>Записей нет</h2>
        </div>
    {% endif %}
{% endblock %}

{% block javascripts %}
    <script>
        $('.purpose-button-js').on('click', function(e) {
          e.preventDefault();

          const purposeId = $(this).data('purpose-id');

          $('.purpose-payments-js').each(function() {
            const row = $(this);

            if (row.data('purpose-id') === purposeId) {
              row.slideToggle();
            } else {
              row.slideUp();
            }
          });
        });
    </script>
{% endblock %}
