{% extends 'layout.html.twig' %}

{% block content %}
    <h1>Участок №{{ area.number }}</h1>

    <dl class="dl-horizontal">
        <dt>Количество соток</dt>
        <dd>{{ area.size / 100 }}</dd>
        {% if is_granted(constant('App\\Roles::COMMUNITY')) %}
            <dt>Владельцы</dt>
            <dd>
                <ul>
                    {% for user in area.users %}
                        <li>{{ user.realname }}</li>
                    {% endfor %}
                </ul>
            </dd>
        {% endif %}
        <dt>Улица</dt>
        <dd>
            {% if area.street %}
                {{ area.street.name }}
            {% endif %}
        </dd>
    </dl>

    <h2>Платежи</h2>

    {% if 0 < pagerfanta.count %}
        <table class="table">
            <thead>
            <tr>
                <th>Наименование</th>
                <th>К оплате</th>
                <th>Оплачено</th>
                <th>Недоплата / Переплата</th>
                <th>Дата создания</th>
            </tr>
            </thead>
            <tbody>
            {% for item in pagerfanta.currentPageResults %}
                {% set purpose = item|first %}
                {% set sum = item.bill + item.paid %}

                <tr class="{{ sum >= 0 ? 'success' : 'danger' }}">
                    <td>{{ purpose.name }}</td>
                    <td>{{ (item.bill|abs / 100)|number_format }}</td>
                    <td>{{ (item.paid / 100)|number_format }}</td>
                    <td><strong>{{ ((item.bill + item.paid) / 100)|number_format }}</strong></td>
                    <td>{{ purpose.createdAt|localizeddate }}</td>
                </tr>
            {% endfor %}
            <tr class="{{ 0 > balance ? 'warning' : '' }}">
                <td colspan="3">Баланс</td>
                <td colspan="2">{{ (balance / 100)|number_format }}</td>
            </tr>
            </tbody>
        </table>

        {% if pagerfanta.haveToPaginate %}
                <div class="text-center">
                    {{ pagerfanta(pagerfanta, 'twitter_bootstrap3_translated') }}
                </div>
            {% endif %}
    {% else %}
        <div class="jumbotron">
            <h2>Записей нет</h2>
        </div>
    {% endif %}
{% endblock %}
