{% extends 'layout.html.twig' %}

{% block content %}
    <h1>Участок №{{ area.number }}</h1>

    <dl class="dl-horizontal">
        <dt>Количество соток</dt>
        <dd>{{ area.size / 100 }}</dd>
        {% if is_granted(constant('App\\Roles::COMMUNITY')) %}
            <dt>Владельцы</dt>
            <dd>
                <ul>
                    {% for user in area.users %}
                        <li>{{ user.realname }}</li>
                    {% endfor %}
                </ul>
            </dd>
        {% endif %}
        <dt>Улица</dt>
        <dd>
            {% if area.street %}
                {{ area.street.name }}
            {% endif %}
        </dd>
    </dl>

    <hr>

    {% if 0 < purpose_groups|length %}
        {% for group in purpose_groups if group.children is not empty %}
            <h3>{{ group.label }}</h3>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                    <tr>
                        <th>Наименование</th>
                        <th>К оплате</th>
                        <th>Оплачено</th>
                        <th>Долг</th>
                        <th>Оплата</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for item in group.children %}
                        {# @var purpose \App\Entity\Purpose #}
                        {% set purpose = item|first %}
                        {% set sum = item.bill + item.paid %}
                        {% set paid = sum >= 0 %}
                        {% set pay = ((item.bill + item.paid) / 100) %}

                        <tr>
                            <td>
                                {#<a href="#" data-purpose-id="{{ purpose.id }}" class="purpose-button-js">#}
                                {{ purpose.name }}
                                {#</a>#}
                            </td>
                            <td>{{ (item.bill|abs / 100) }}</td>
                            <td>{{ (item.paid / 100) }}</td>
                            <td><strong>{{ pay }}</strong></td>
                            {% if not paid %}
                                <td>
                                    <form method="post" action="https://www.payanyway.ru/assistant.htm">
                                        <input type="hidden" name="MNT_ID" value="87482468">
                                        <input type="hidden" name="MNT_TEST_MODE" value="0">

                                        <input type="hidden" name="MNT_CURRENCY_CODE" value="RUB">
                                        <input type="hidden" name="MNT_AMOUNT" value="{{ pay|abs }}">

                                        <input type="hidden" name="MNT_SUCCESS_URL" value="{{ url('area_show_payment_return', {
                                            'status': constant('App\\Controller\\AreaController::PAYMENT_STATUS_SUCCESS'),
                                            'number': area.number
                                        }) }}">
                                        <input type="hidden" name="MNT_FAIL_URL" value="{{ url('area_show_payment_return', {
                                            'status': constant('App\\Controller\\AreaController::PAYMENT_STATUS_FAILURE'),
                                            'number': area.number
                                        }) }}">

                                        <input type="hidden" name="MNT_RETURN_URL" value="{{ app.request.uri }}">
                                        <input type="hidden" name="MNT_AREA" value="{{ area.id }}">
                                        <input type="hidden" name="MNT_PURPOSE" value="{{ purpose.id }}">
                                        <input type="hidden" name="MNT_USER" value="{{ app.user.id }}">

                                        <button class="btn btn-success" type="submit">Оплатить</button>
                                    </form>
                                </td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endfor %}
    {% endif %}

    {% if 0 < archived|length %}
        <h3>Архивные взносы</h3>
        <div class="table-responsive">
            <table class="table">
                <thead>
                <tr>
                    <th>Наименование</th>
                    <th>Оплачено</th>
                    <th>Долг</th>
                </tr>
                </thead>
                <tbody>
                {% for item in archived %}
                    {# @var purpose \App\Entity\Purpose #}
                    {% set purpose = item|first %}
                    {% set sum = item.bill + item.paid %}
                    {% set paid = sum >= 0 %}
                    {% set pay = ((item.bill + item.paid) / 100) %}

                    <tr>
                        <td>
                            {#<a href="#" data-purpose-id="{{ purpose.id }}" class="purpose-button-js">#}
                            {{ purpose.name }}
                            {#</a>#}
                        </td>
                        <td>{{ (item.paid / 100) }}</td>
                        <td><strong>{{ pay }}</strong></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}

    {% if 0 == purpose_groups|length and 0 == archived|length %}
        <div class="jumbotron">
            <h2>Записей нет</h2>
        </div>
    {% endif %}
{% endblock %}

{% block javascripts %}
    <script>
      $('.purpose-button-js').on('click', function(e) {
        e.preventDefault();

        const purposeId = $(this).data('purpose-id');

        $('.purpose-payments-js').each(function() {
          const row = $(this);

          if (row.data('purpose-id') === purposeId) {
            row.slideToggle();
          } else {
            row.slideUp();
          }
        });
      });
    </script>
{% endblock %}
